In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [ ]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [ ]:
log_data = pd.read_csv('/content/gdrive/MyDrive/dataset/log_data.csv')
log_data

,user_id,event,timestamp,mp_os,mp_app_version,date_cd
0,576409,StartLoanApply,2022-03-25 11:12:09,Android,3.8.2,2022-03-25
1,576409,ViewLoanApplyIntro,2022-03-25 11:12:09,Android,3.8.2,2022-03-25
2,72878,EndLoanApply,2022-03-25 11:14:44,Android,3.8.4,2022-03-25
3,645317,OpenApp,2022-03-25 11:15:09,iOS,3.6.1,2022-03-25
4,645317,UseLoanManage,2022-03-25 11:15:11,iOS,3.6.1,2022-03-25
...,...,...,...,...,...,...
17843988,242442,StartLoanApply,2022-05-27 16:08:21,Android,3.13.0,2022-05-27
17843989,242442,EndLoanApply,2022-05-27 16:08:21,Android,3.13.0,2022-05-27
17843990,593062,OpenApp,2022-05-27 16:19:10,Android,3.13.0,2022-05-27
17843991,593062,Login,2022-05-27 16:19:15,Android,3.13.0,2022-05-27
17843992,593062,UseLoanManage,2022-05-27 16:19:19,Android,3.13.0,2022-05-27

In [ ]:
group = log_data.groupby(['user_id', 'event'])['timestamp'].min()
group

user_id  event
1        GetCreditInfo         2022-05-03 14:52:28
         Login                 2022-06-16 23:58:41
         UseLoanManage         2022-06-16 23:58:41
7        GetCreditInfo         2022-05-22 16:39:49
9        GetCreditInfo         2022-05-21 23:37:58
                                      ...
879696   UseLoanManage         2022-03-14 05:35:41
         ViewLoanApplyIntro    2022-03-14 05:37:55
879698   OpenApp               2022-05-24 22:33:24
         StartLoanApply        2022-05-24 22:33:32
         ViewLoanApplyIntro    2022-05-24 22:33:32
Name: timestamp, Length: 2860127, dtype: object

In [ ]:
df_group = pd.DataFrame(group)
df_group

                                      timestamp
user_id event
1       GetCreditInfo       2022-05-03 14:52:28
        Login               2022-06-16 23:58:41
        UseLoanManage       2022-06-16 23:58:41
7       GetCreditInfo       2022-05-22 16:39:49
9       GetCreditInfo       2022-05-21 23:37:58
...                                         ...
879696  UseLoanManage       2022-03-14 05:35:41
        ViewLoanApplyIntro  2022-03-14 05:37:55
879698  OpenApp             2022-05-24 22:33:24
        StartLoanApply      2022-05-24 22:33:32
        ViewLoanApplyIntro  2022-05-24 22:33:32

[2860127 rows x 1 columns]

In [ ]:
df_group_new = df_group.reset_index()
df_group_new

         user_id               event            timestamp
0              1       GetCreditInfo  2022-05-03 14:52:28
1              1               Login  2022-06-16 23:58:41
2              1       UseLoanManage  2022-06-16 23:58:41
3              7       GetCreditInfo  2022-05-22 16:39:49
4              9       GetCreditInfo  2022-05-21 23:37:58
...          ...                 ...                  ...
2860122   879696       UseLoanManage  2022-03-14 05:35:41
2860123   879696  ViewLoanApplyIntro  2022-03-14 05:37:55
2860124   879698             OpenApp  2022-05-24 22:33:24
2860125   879698      StartLoanApply  2022-05-24 22:33:32
2860126   879698  ViewLoanApplyIntro  2022-05-24 22:33:32

[2860127 rows x 3 columns]

In [ ]:
df_final = df_group_new.drop_duplicates(['user_id'], keep = 'first')
df_final

         user_id                    event            timestamp
0              1            GetCreditInfo  2022-05-03 14:52:28
3              7            GetCreditInfo  2022-05-22 16:39:49
4              9            GetCreditInfo  2022-05-21 23:37:58
5             11  CompleteIDCertification  2022-03-24 10:56:26
13            12  CompleteIDCertification  2022-03-14 01:13:46
...          ...                      ...                  ...
2860102   879693  CompleteIDCertification  2022-05-13 11:30:06
2860109   879694  CompleteIDCertification  2022-03-31 20:07:42
2860113   879695  CompleteIDCertification  2022-05-27 12:48:51
2860117   879696  CompleteIDCertification  2022-03-14 05:38:16
2860124   879698                  OpenApp  2022-05-24 22:33:24

[584636 rows x 3 columns]

In [ ]:
df_final['event'].unique()

array(['GetCreditInfo', 'CompleteIDCertification', 'EndLoanApply',
       'Login', 'OpenApp', 'ViewLoanApplyIntro', 'StartLoanApply',
       'UseLoanManage', 'SignUp'], dtype=object)

In [29]:
df_final.loc[(df_final['event'] != 'GetCreditInfo') & (df_final['event'] != 'EndLoanApply')& 
             (df_final['event'] != 'UseLoanManage') & (df_final['event'] != 'ViewLoanApplyIntro')&
             (df_final['event'] != 'StartLoanApply') & (df_final['event'] != 'CompleteIDCertification'), 'event'] = 'others'

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

In [30]:
df_final

         user_id                    event            timestamp
0              1            GetCreditInfo  2022-05-03 14:52:28
3              7            GetCreditInfo  2022-05-22 16:39:49
4              9            GetCreditInfo  2022-05-21 23:37:58
5             11  CompleteIDCertification  2022-03-24 10:56:26
13            12  CompleteIDCertification  2022-03-14 01:13:46
...          ...                      ...                  ...
2860102   879693  CompleteIDCertification  2022-05-13 11:30:06
2860109   879694  CompleteIDCertification  2022-03-31 20:07:42
2860113   879695  CompleteIDCertification  2022-05-27 12:48:51
2860117   879696  CompleteIDCertification  2022-03-14 05:38:16
2860124   879698                   others  2022-05-24 22:33:24

[584636 rows x 3 columns]