In [1]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [2]:
import numpy as np
import pandas as pd

In [3]:
# 데이터 불러오기
user_spec = pd.read_csv('/content/gdrive/MyDrive/BigContest_data/user_spec.csv')

In [4]:
# 데이터 불러오기
log_data = pd.read_csv('/content/gdrive/MyDrive/BigContest_data/log_data.csv')

In [5]:
# 데이터 불러오기
loan_result = pd.read_csv('/content/gdrive/MyDrive/BigContest_data/loan_result.csv')

In [6]:
merge1 = pd.merge(loan_result, user_spec,
                    how = 'outer',
                    on = 'application_id')
merge1

,application_id,loanapply_insert_time,bank_id,product_id,loan_limit,loan_rate,is_applied,user_id,birth_year,gender,...,income_type,company_enter_month,employment_type,houseown_type,desired_amount,purpose,personal_rehabilitation_yn,personal_rehabilitation_complete_yn,existing_loan_cnt,existing_loan_amt
0,1748340,2022-06-07 13:05:41,7.0,191.0,42000000.0,13.6,NaN,430982.0,1996.0,1.0,...,EARNEDINCOME,20220201.0,정규직,자가,25000000.0,대환대출,0.0,0.0,2.0,15000000.0
1,1748340,2022-06-07 13:05:41,25.0,169.0,24000000.0,17.9,NaN,430982.0,1996.0,1.0,...,EARNEDINCOME,20220201.0,정규직,자가,25000000.0,대환대출,0.0,0.0,2.0,15000000.0
2,1748340,2022-06-07 13:05:41,2.0,7.0,24000000.0,18.5,NaN,430982.0,1996.0,1.0,...,EARNEDINCOME,20220201.0,정규직,자가,25000000.0,대환대출,0.0,0.0,2.0,15000000.0
3,1748340,2022-06-07 13:05:41,4.0,268.0,29000000.0,10.8,NaN,430982.0,1996.0,1.0,...,EARNEDINCOME,20220201.0,정규직,자가,25000000.0,대환대출,0.0,0.0,2.0,15000000.0
4,1748340,2022-06-07 13:05:41,11.0,118.0,5000000.0,16.4,NaN,430982.0,1996.0,1.0,...,EARNEDINCOME,20220201.0,정규직,자가,25000000.0,대환대출,0.0,0.0,2.0,15000000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13952821,1800366,NaN,NaN,NaN,NaN,NaN,NaN,641650.0,1970.0,0.0,...,EARNEDINCOME,201106.0,정규직,기타가족소유,30000000.0,생활비,NaN,NaN,6.0,89000000.0
13952822,2106652,NaN,NaN,NaN,NaN,NaN,NaN,440428.0,1981.0,1.0,...,PRIVATEBUSINESS,201007.0,기타,전월세,30000000.0,대환대출,NaN,NaN,3.0,35000000.0
13952823,569756,NaN,NaN,NaN,NaN,NaN,NaN,444524.0,1977.0,1.0,...,EARNEDINCOME,199803.0,정규직,기타가족소유,50000000.0,대환대출,NaN,NaN,7.0,97000000.0
13952824,1960569,NaN,NaN,NaN,NaN,NaN,NaN,847486.0,1992.0,1.0,...,EARNEDINCOME,201801.0,정규직,기타가족소유,3000000.0,생활비,NaN,NaN,4.0,43000000.0
13952825,1464521,NaN,NaN,NaN,NaN,NaN,NaN,124688.0,1970.0,1.0,...,PRIVATEBUSINESS,202012.0,정규직,기타가족소유,20000000.0,사업자금,NaN,NaN,2.0,28000000.0

In [7]:
!pip install pandas-profiling

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas-profiling in /usr/local/lib/python3.7/dist-packages (1.4.1)
Requirement already satisfied: matplotlib>=1.4 in /usr/local/lib/python3.7/dist-packages (from pandas-profiling) (3.2.2)
Requirement already satisfied: six>=1.9 in /usr/local/lib/python3.7/dist-packages (from pandas-profiling) (1.15.0)
Requirement already satisfied: jinja2>=2.8 in /usr/local/lib/python3.7/dist-packages (from pandas-profiling) (2.11.3)
Requirement already satisfied: pandas>=0.19 in /usr/local/lib/python3.7/dist-packages (from pandas-profiling) (1.3.5)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.7/dist-packages (from jinja2>=2.8->pandas-profiling) (2.0.1)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=1.4->pandas-profiling) (1.4.4)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=1.4->pandas-profiling) (3.0.9)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=1.4->pandas-profiling) (0.11.0)
Requirement already satisfied: numpy>=1.11 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=1.4->pandas-profiling) (1.21.6)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=1.4->pandas-profiling) (2.8.2)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from kiwisolver>=1.0.1->matplotlib>=1.4->pandas-profiling) (4.1.1)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.19->pandas-profiling) (2022.2.1)

In [8]:
import pandas_profiling

In [ ]:
report = pandas_profiling.ProfileReport(merge1)
display(report)