In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import pandas_profiling 

# 전처리
from sklearn.preprocessing import LabelEncoder, StandardScaler

In [2]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [3]:
log_data = pd.read_csv('/content/gdrive/MyDrive/dataset/log_data.csv')

In [4]:
log_data

,user_id,event,timestamp,mp_os,mp_app_version,date_cd
0,576409,StartLoanApply,2022-03-25 11:12:09,Android,3.8.2,2022-03-25
1,576409,ViewLoanApplyIntro,2022-03-25 11:12:09,Android,3.8.2,2022-03-25
2,72878,EndLoanApply,2022-03-25 11:14:44,Android,3.8.4,2022-03-25
3,645317,OpenApp,2022-03-25 11:15:09,iOS,3.6.1,2022-03-25
4,645317,UseLoanManage,2022-03-25 11:15:11,iOS,3.6.1,2022-03-25
...,...,...,...,...,...,...
17843988,242442,StartLoanApply,2022-05-27 16:08:21,Android,3.13.0,2022-05-27
17843989,242442,EndLoanApply,2022-05-27 16:08:21,Android,3.13.0,2022-05-27
17843990,593062,OpenApp,2022-05-27 16:19:10,Android,3.13.0,2022-05-27
17843991,593062,Login,2022-05-27 16:19:15,Android,3.13.0,2022-05-27
17843992,593062,UseLoanManage,2022-05-27 16:19:19,Android,3.13.0,2022-05-27

In [5]:
relog_data = pd.read_csv('/content/gdrive/MyDrive/dataset/relog.csv')

In [6]:
an_log_data = log_data[(log_data['mp_os'] == 'android')|(log_data['mp_os'] =='Android')]
an_log_data

,user_id,event,timestamp,mp_os,mp_app_version,date_cd
0,576409,StartLoanApply,2022-03-25 11:12:09,Android,3.8.2,2022-03-25
1,576409,ViewLoanApplyIntro,2022-03-25 11:12:09,Android,3.8.2,2022-03-25
2,72878,EndLoanApply,2022-03-25 11:14:44,Android,3.8.4,2022-03-25
12,814215,OpenApp,2022-03-25 11:44:34,Android,3.8.4,2022-03-25
13,814215,Login,2022-03-25 11:44:38,Android,3.8.4,2022-03-25
...,...,...,...,...,...,...
17843988,242442,StartLoanApply,2022-05-27 16:08:21,Android,3.13.0,2022-05-27
17843989,242442,EndLoanApply,2022-05-27 16:08:21,Android,3.13.0,2022-05-27
17843990,593062,OpenApp,2022-05-27 16:19:10,Android,3.13.0,2022-05-27
17843991,593062,Login,2022-05-27 16:19:15,Android,3.13.0,2022-05-27
17843992,593062,UseLoanManage,2022-05-27 16:19:19,Android,3.13.0,2022-05-27

In [7]:
an_log_data['event'].value_counts()

OpenApp                    2897107
Login                      2463755
GetCreditInfo              2195434
EndLoanApply               2047047
StartLoanApply             1436048
ViewLoanApplyIntro         1369981
UseLoanManage              1186306
CompleteIDCertification     910773
SignUp                       20191
UsePrepayCalc                  269
UseDSRCalc                     211
Name: event, dtype: int64

In [8]:
log_data['mp_os'].value_counts()

Android    12331688
iOS         3312862
android     2195434
iPadOS         3029
Name: mp_os, dtype: int64

In [9]:
an_log_data1 = log_data[(log_data['mp_os'] == 'android')]
an_log_data1

,user_id,event,timestamp,mp_os,mp_app_version,date_cd
209900,78048,GetCreditInfo,2022-04-30 23:49:59,android,453,2022-04-30
209901,394401,GetCreditInfo,2022-04-30 23:50:00,android,417,2022-04-30
209902,43329,GetCreditInfo,2022-04-30 23:50:23,android,413,2022-04-30
209903,658090,GetCreditInfo,2022-04-30 23:50:36,android,435,2022-04-30
209904,372453,GetCreditInfo,2022-04-30 23:50:37,android,461,2022-04-30
...,...,...,...,...,...,...
16823115,515300,GetCreditInfo,2022-06-20 21:35:29,android,401,2022-06-20
16823116,670303,GetCreditInfo,2022-06-20 21:35:41,android,466,2022-06-20
16823117,879311,GetCreditInfo,2022-06-20 21:35:46,android,435,2022-06-20
16823119,51665,GetCreditInfo,2022-06-20 21:35:52,android,451,2022-06-20
16823120,154759,GetCreditInfo,2022-06-20 21:35:55,android,416,2022-06-20

In [10]:
an_log_data1['event'].value_counts()

GetCreditInfo    2195434
Name: event, dtype: int64

In [11]:
an_log_data2=an_log_data1[an_log_data1['event']=='GetCreditInfo']

In [12]:
an_log_data2

,user_id,event,timestamp,mp_os,mp_app_version,date_cd
209900,78048,GetCreditInfo,2022-04-30 23:49:59,android,453,2022-04-30
209901,394401,GetCreditInfo,2022-04-30 23:50:00,android,417,2022-04-30
209902,43329,GetCreditInfo,2022-04-30 23:50:23,android,413,2022-04-30
209903,658090,GetCreditInfo,2022-04-30 23:50:36,android,435,2022-04-30
209904,372453,GetCreditInfo,2022-04-30 23:50:37,android,461,2022-04-30
...,...,...,...,...,...,...
16823115,515300,GetCreditInfo,2022-06-20 21:35:29,android,401,2022-06-20
16823116,670303,GetCreditInfo,2022-06-20 21:35:41,android,466,2022-06-20
16823117,879311,GetCreditInfo,2022-06-20 21:35:46,android,435,2022-06-20
16823119,51665,GetCreditInfo,2022-06-20 21:35:52,android,451,2022-06-20
16823120,154759,GetCreditInfo,2022-06-20 21:35:55,android,416,2022-06-20

In [13]:
an_log_data2['mp_app_version'].unique()

array(['453', '417', '413', '435', '461', '422', '409', '356', '359',
       '462', '370', '459', '451', '421', '383', '401', '464', '448',
       '466', '447', '407', '416', '396', '440', '460', '380', '465',
       '404', '426', '408', '360', '376', '354', '363', '449', '368',
       '433', '387', '399', '361', '405', '452', '373', '385', '390',
       '424', '397', '382', '389', '381', '406', '400', '365', '366',
       '374', '432', '403', '384', '353', '379', '463', '372', '394',
       '357', '395', '367', '364', '362', '369', '386', '375', '351',
       '402', '398', '469', '470', '371', '349', '378', '270', '10000',
       '377', '467', '339', '330', '304', '278', '348', '388', '282',
       '429', '431', '300', '393', '456', '320', '254', '331', '430',
       '323', '294', '468', '427', '293', '458', '284', '321', '455',
       '306', '326', '454'], dtype=object)

### 각 퍼널별 평균 소요시간을 알아보자

In [14]:
log_data

,user_id,event,timestamp,mp_os,mp_app_version,date_cd
0,576409,StartLoanApply,2022-03-25 11:12:09,Android,3.8.2,2022-03-25
1,576409,ViewLoanApplyIntro,2022-03-25 11:12:09,Android,3.8.2,2022-03-25
2,72878,EndLoanApply,2022-03-25 11:14:44,Android,3.8.4,2022-03-25
3,645317,OpenApp,2022-03-25 11:15:09,iOS,3.6.1,2022-03-25
4,645317,UseLoanManage,2022-03-25 11:15:11,iOS,3.6.1,2022-03-25
...,...,...,...,...,...,...
17843988,242442,StartLoanApply,2022-05-27 16:08:21,Android,3.13.0,2022-05-27
17843989,242442,EndLoanApply,2022-05-27 16:08:21,Android,3.13.0,2022-05-27
17843990,593062,OpenApp,2022-05-27 16:19:10,Android,3.13.0,2022-05-27
17843991,593062,Login,2022-05-27 16:19:15,Android,3.13.0,2022-05-27
17843992,593062,UseLoanManage,2022-05-27 16:19:19,Android,3.13.0,2022-05-27

In [15]:
log_data=log_data.sort_values(by=["user_id","timestamp","event"], ascending=[True,True,True])

In [16]:
log_data

,user_id,event,timestamp,mp_os,mp_app_version,date_cd
11709372,1,GetCreditInfo,2022-05-03 14:52:28,android,464,2022-05-03
11709374,1,GetCreditInfo,2022-05-03 14:52:35,android,464,2022-05-03
2451693,1,Login,2022-06-16 23:58:41,Android,3.12.1,2022-06-16
2451691,1,UseLoanManage,2022-06-16 23:58:41,Android,3.12.1,2022-06-16
7071607,1,GetCreditInfo,2022-06-16 23:58:42,android,464,2022-06-16
...,...,...,...,...,...,...
7298671,879696,CompleteIDCertification,2022-03-14 05:38:16,Android,3.8.2,2022-03-14
7298672,879696,EndLoanApply,2022-03-14 05:42:14,Android,3.8.2,2022-03-14
8248077,879698,OpenApp,2022-05-24 22:33:24,iOS,NaN,2022-05-24
8248080,879698,StartLoanApply,2022-05-24 22:33:32,iOS,NaN,2022-05-24
8248082,879698,ViewLoanApplyIntro,2022-05-24 22:33:32,iOS,NaN,2022-05-24

### 대출 여부를 확인 할수 있는 마지막 날짜인 5/31일자를 추출한 후 (가장 최신) 퍼널별 평균 소요시간을 살펴보기

In [17]:
log_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 17843993 entries, 11709372 to 8248082
Data columns (total 6 columns):
 #   Column          Dtype
---  ------          -----
 0   user_id         int64
 1   event           object
 2   timestamp       object
 3   mp_os           object
 4   mp_app_version  object
 5   date_cd         object
dtypes: int64(1), object(5)
memory usage: 953.0+ MB

In [18]:
log_data['date_cd'] = pd.to_datetime(log_data['date_cd'])

In [19]:
log_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 17843993 entries, 11709372 to 8248082
Data columns (total 6 columns):
 #   Column          Dtype
---  ------          -----
 0   user_id         int64
 1   event           object
 2   timestamp       object
 3   mp_os           object
 4   mp_app_version  object
 5   date_cd         datetime64[ns]
dtypes: datetime64[ns](1), int64(1), object(4)
memory usage: 953.0+ MB

In [20]:
sample=log_data[log_data['date_cd']=='2022-05-31']
sample

,user_id,event,timestamp,mp_os,mp_app_version,date_cd
10281594,30,OpenApp,2022-05-31 17:36:56,Android,3.13.0,2022-05-31
10281595,30,Login,2022-05-31 17:37:02,Android,3.13.0,2022-05-31
10281596,30,UseLoanManage,2022-05-31 17:37:06,Android,3.13.0,2022-05-31
11335207,30,GetCreditInfo,2022-05-31 17:37:07,android,440,2022-05-31
10281597,30,StartLoanApply,2022-05-31 17:37:12,Android,3.13.0,2022-05-31
...,...,...,...,...,...,...
6977370,879617,StartLoanApply,2022-05-31 17:21:16,Android,3.11.1,2022-05-31
6977371,879617,ViewLoanApplyIntro,2022-05-31 17:21:16,Android,3.11.1,2022-05-31
6977374,879617,CompleteIDCertification,2022-05-31 17:21:34,Android,3.11.1,2022-05-31
6977383,879617,EndLoanApply,2022-05-31 17:24:21,Android,3.11.1,2022-05-31
13400862,879637,OpenApp,2022-05-31 17:07:40,iOS,NaN,2022-05-31

### user_spec data의 대출목적 확인

In [26]:
spec_data = pd.read_csv('/content/gdrive/MyDrive/dataset/user_spec.csv')
spec_data

,application_id,user_id,birth_year,gender,insert_time,credit_score,yearly_income,income_type,company_enter_month,employment_type,houseown_type,desired_amount,purpose,personal_rehabilitation_yn,personal_rehabilitation_complete_yn,existing_loan_cnt,existing_loan_amt
0,1249046,118218,1985.0,1.0,2022-06-07 06:28:18,660.0,108000000.0,PRIVATEBUSINESS,20151101.0,기타,자가,1000000.0,기타,0.0,NaN,4.0,162000000.0
1,954900,553686,1968.0,1.0,2022-06-07 14:29:03,870.0,30000000.0,PRIVATEBUSINESS,20070201.0,정규직,기타가족소유,30000000.0,대환대출,0.0,NaN,1.0,27000000.0
2,137274,59516,1997.0,1.0,2022-06-07 21:40:22,710.0,30000000.0,FREELANCER,20210901.0,기타,기타가족소유,10000000.0,생활비,0.0,NaN,5.0,15000000.0
3,1570936,167320,1989.0,1.0,2022-06-07 09:40:27,820.0,62000000.0,EARNEDINCOME,20170101.0,정규직,자가,2000000.0,생활비,0.0,NaN,7.0,344000000.0
4,967833,33400,2000.0,1.0,2022-06-07 08:55:07,630.0,36000000.0,EARNEDINCOME,20210901.0,정규직,기타가족소유,5000000.0,생활비,0.0,0.0,1.0,16000000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1394211,1864587,489900,2000.0,1.0,2022-03-22 14:55:32,590.0,25000000.0,FREELANCER,202106.0,기타,기타가족소유,5000000.0,사업자금,NaN,NaN,NaN,NaN
1394212,1327066,151422,1955.0,1.0,2022-03-22 01:19:24,980.0,20000000.0,OTHERINCOME,NaN,기타,자가,50000000.0,생활비,NaN,NaN,1.0,NaN
1394213,1319606,173524,1983.0,1.0,2022-03-22 07:34:32,750.0,75000000.0,EARNEDINCOME,200908.0,정규직,자가,100000000.0,대환대출,NaN,NaN,8.0,200000000.0
1394214,1482466,766546,1975.0,1.0,2022-03-22 22:12:35,640.0,50000000.0,EARNEDINCOME,201705.0,정규직,자가,10000000.0,대환대출,NaN,NaN,10.0,117000000.0
1394215,816537,3864,1977.0,0.0,2022-03-22 08:55:14,NaN,35000000.0,FREELANCER,201103.0,기타,자가,20000000.0,생활비,NaN,NaN,NaN,NaN

In [28]:
spec_data['purpose'].value_counts()

생활비             866079
대환대출            353794
사업자금             62115
기타               30132
전월세보증금           27236
주택구입             17471
LIVING           15432
투자               12532
자동차구입             3394
SWITCHLOAN        3248
BUSINESS           935
ETC                593
HOUSEDEPOSIT       562
BUYHOUSE           307
INVEST             166
BUYCAR             135
Name: purpose, dtype: int64

- 의미가 같은 변수 합치기

In [29]:
spec_data[spec_data['purpose'] == '생활비'] = 'LIVING'

In [30]:
spec_data['purpose'].value_counts()

LIVING          881511
대환대출            353794
사업자금             62115
기타               30132
전월세보증금           27236
주택구입             17471
투자               12532
자동차구입             3394
SWITCHLOAN        3248
BUSINESS           935
ETC                593
HOUSEDEPOSIT       562
BUYHOUSE           307
INVEST             166
BUYCAR             135
Name: purpose, dtype: int64

In [31]:
spec_data[spec_data['purpose'] == '대환대출'] = 'SWITCHLOAN'

In [32]:
spec_data[spec_data['purpose'] == '사업자금'] = 'BUSINESS'

In [33]:
spec_data[spec_data['purpose'] == '기타'] = 'ETC'

In [34]:
spec_data[spec_data['purpose'] == '전월세보증금'] = 'HOUSEDEPOSIT'

In [35]:
spec_data[spec_data['purpose'] == '주택구입'] = 'BUYHOUSE'

In [36]:
spec_data[spec_data['purpose'] == '투자'] = 'INVEST'

In [37]:
spec_data[spec_data['purpose'] == '자동차구입'] = 'BUYCAR'

In [38]:
spec_data['purpose'].value_counts()

LIVING          881511
SWITCHLOAN      357042
BUSINESS         63050
ETC              30725
HOUSEDEPOSIT     27798
BUYHOUSE         17778
INVEST           12698
BUYCAR            3529
Name: purpose, dtype: int64

#### 타임 병목 현상 알아보기

In [21]:
sample.sort_values("date_cd",ascending='True')

,user_id,event,timestamp,mp_os,mp_app_version,date_cd
10281594,30,OpenApp,2022-05-31 17:36:56,Android,3.13.0,2022-05-31
12624531,580382,Login,2022-05-31 17:28:30,Android,3.13.0,2022-05-31
12624533,580382,UseLoanManage,2022-05-31 17:28:33,Android,3.13.0,2022-05-31
11335023,580382,GetCreditInfo,2022-05-31 17:28:35,android,417,2022-05-31
11335054,580382,GetCreditInfo,2022-05-31 17:30:07,android,417,2022-05-31
...,...,...,...,...,...,...
3264777,292600,StartLoanApply,2022-05-31 12:46:36,Android,3.14.0,2022-05-31
3264780,292600,EndLoanApply,2022-05-31 12:46:37,Android,3.14.0,2022-05-31
3264784,292600,ViewLoanApplyIntro,2022-05-31 12:46:40,Android,3.14.0,2022-05-31
12521565,292642,OpenApp,2022-05-31 17:22:51,Android,3.14.0,2022-05-31
13400862,879637,OpenApp,2022-05-31 17:07:40,iOS,NaN,2022-05-31

In [22]:
sample=sample.sort_values(by=["user_id","timestamp","event"], ascending=[True,True,True])