In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [3]:
from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [4]:
log_data = pd.read_csv('/content/gdrive/MyDrive/dataset/log_1.csv')
log_data

,Unnamed: 0,user_id,timestamp,event,user_id_cnt,user_id_day_cnt,first_event,is_applied,timeout_sum
0,0,1,2022-05-03 14:52:28,11-11-2-8-11,5,2,GetCreditInfo,0.0,0 days 00:00:08
1,1,7,2022-05-22 16:39:49,11,1,1,GetCreditInfo,0.0,0 days 00:00:00
2,2,9,2022-05-21 23:37:58,11-11-11,3,1,GetCreditInfo,0.0,0 days 00:00:00
3,3,11,2022-03-24 10:53:59,1-11-8-11-9-6-5-4-7-11-8-8-1-11-8-5-4-7-11-8-8...,43,4,EndLoanApply,1.0,0 days 00:00:30
4,4,12,2022-03-14 01:13:11,1-2-6-5-4-7-7-7-1-2-6-5-4-7-7-7-1-2-6-5-4-7-7-...,120,14,EndLoanApply,0.0,0 days 00:03:20
...,...,...,...,...,...,...,...,...,...
584631,584631,879693,2022-05-13 11:29:49,6-5-4-7-1-7-6-1-8-11-6-7-1-6-5-4-6-5-4-6-7-7-7...,61,8,EndLoanApply,1.0,0 days 00:01:26
584632,584632,879694,2022-03-31 20:07:23,6-5-4-7-7-7,6,1,EndLoanApply,0.0,0 days 00:00:00
584633,584633,879695,2022-05-27 12:48:32,6-5-4-7,4,1,EndLoanApply,1.0,0 days 00:00:00
584634,584634,879696,2022-03-14 05:35:34,2-8-11-11-8-11-1-2-5-4-7,11,1,EndLoanApply,1.0,0 days 00:00:30
584635,584635,879698,2022-05-24 22:33:24,1-6-5,3,1,others,0.0,0 days 00:00:08

In [5]:
relog_1 = pd.read_csv('/content/gdrive/MyDrive/dataset/relog_1.csv')
relog_1

,Unnamed: 0,user_id,timestamp,event,user_id_cnt,user_id_day_cnt,first_event
0,0,1,2022-05-03 14:52:28,11-11-2-8-11,5,2,GetCreditInfo
1,1,7,2022-05-22 16:39:49,11,1,1,GetCreditInfo
2,2,9,2022-05-21 23:37:58,11-11-11,3,1,GetCreditInfo
3,3,11,2022-03-24 10:53:59,1-11-8-11-9-6-5-4-7-11-8-8-1-11-8-5-4-7-11-8-8...,43,4,EndLoanApply
4,4,12,2022-03-14 01:13:11,1-2-6-5-4-7-7-7-1-2-6-5-4-7-7-7-1-2-6-5-4-7-7-...,120,14,EndLoanApply
...,...,...,...,...,...,...,...
584631,584631,879693,2022-05-13 11:29:49,6-5-4-7-1-7-6-1-8-11-6-7-1-6-5-4-6-5-4-6-7-7-7...,61,8,EndLoanApply
584632,584632,879694,2022-03-31 20:07:23,6-5-4-7-7-7,6,1,EndLoanApply
584633,584633,879695,2022-05-27 12:48:32,6-5-4-7,4,1,EndLoanApply
584634,584634,879696,2022-03-14 05:35:34,2-8-11-11-8-11-1-2-5-4-7,11,1,EndLoanApply
584635,584635,879698,2022-05-24 22:33:24,1-6-5,3,1,others

In [6]:
log = pd.read_csv('/content/gdrive/MyDrive/dataset/log_data.csv')
log

,user_id,event,timestamp,mp_os,mp_app_version,date_cd
0,576409,StartLoanApply,2022-03-25 11:12:09,Android,3.8.2,2022-03-25
1,576409,ViewLoanApplyIntro,2022-03-25 11:12:09,Android,3.8.2,2022-03-25
2,72878,EndLoanApply,2022-03-25 11:14:44,Android,3.8.4,2022-03-25
3,645317,OpenApp,2022-03-25 11:15:09,iOS,3.6.1,2022-03-25
4,645317,UseLoanManage,2022-03-25 11:15:11,iOS,3.6.1,2022-03-25
...,...,...,...,...,...,...
17843988,242442,StartLoanApply,2022-05-27 16:08:21,Android,3.13.0,2022-05-27
17843989,242442,EndLoanApply,2022-05-27 16:08:21,Android,3.13.0,2022-05-27
17843990,593062,OpenApp,2022-05-27 16:19:10,Android,3.13.0,2022-05-27
17843991,593062,Login,2022-05-27 16:19:15,Android,3.13.0,2022-05-27
17843992,593062,UseLoanManage,2022-05-27 16:19:19,Android,3.13.0,2022-05-27

각 유저가 한 event_count

In [14]:
funnel_dict = {'StartLoanApply' : 1, 'UseLoanManage': 2, 'UsePrepayCalc': 3, 'UseDSRCalc': 4, 'GetCreditInfo':5}
funnel_steps = pd.DataFrame.from_dict(funnel_dict, orient='index', columns=['step_no'])
funnel_steps

                step_no
StartLoanApply        1
UseLoanManage         2
UsePrepayCalc         3
UseDSRCalc            4
GetCreditInfo         5

In [25]:
grouped = log.groupby(['user_id', 'event'])['timestamp'].agg(np.sum)
grouped = pd.DataFrame(grouped).merge(funnel_steps, left_on='event', right_index=True)
grouped.tail()

                                                            timestamp  step_no
user_id event
878796  UseDSRCalc                                2022-04-05 21:48:33        4
878870  UseDSRCalc                                2022-04-22 18:54:29        4
879287  UseDSRCalc  2022-04-13 11:51:012022-04-14 17:01:182022-04-...        4
879399  UseDSRCalc                                2022-03-03 18:20:50        4
879667  UseDSRCalc                                2022-03-24 13:57:56        4

In [26]:
funnel = grouped.reset_index().pivot(index='user_id', columns='step_no', values='timestamp')
funnel.columns = funnel_steps.index
funnel

,StartLoanApply,UseLoanManage,UsePrepayCalc,UseDSRCalc,GetCreditInfo
user_id,,,,,
1,NaN,2022-06-16 23:58:41,NaN,NaN,2022-06-16 23:58:422022-05-03 14:52:282022-05-...
7,NaN,NaN,NaN,NaN,2022-05-22 16:39:49
9,NaN,NaN,NaN,NaN,2022-05-21 23:37:582022-05-21 23:43:332022-05-...
11,2022-06-09 11:23:332022-06-13 21:43:112022-04-...,2022-04-20 10:04:172022-04-20 10:12:442022-04-...,2022-03-24 10:54:36,NaN,2022-04-20 10:04:162022-04-20 10:12:442022-04-...
12,2022-04-16 17:01:262022-03-14 01:13:212022-06-...,2022-05-01 18:30:48,NaN,NaN,2022-05-01 18:30:422022-05-01 18:30:492022-05-...
...,...,...,...,...,...
879693,2022-05-20 16:31:222022-05-20 16:31:342022-05-...,2022-05-20 16:36:432022-05-13 13:24:322022-05-...,NaN,NaN,2022-06-14 11:04:242022-05-13 13:24:33
879694,2022-03-31 20:07:23,NaN,NaN,NaN,NaN
879695,2022-05-27 12:48:32,NaN,NaN,NaN,NaN
879696,NaN,2022-03-14 05:35:412022-03-14 05:37:09,NaN,NaN,2022-03-14 05:35:432022-03-14 05:35:472022-03-...
879698,2022-05-24 22:33:32,NaN,NaN,NaN,NaN

In [17]:
funnel = grouped.reset_index().pivot(index='user_id', columns='step_no', values='timestamp')
funnel.columns = funnel_steps.index
funnel

ValueError: ignored