In [1]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [3]:
respec_final = pd.read_csv('/content/gdrive/MyDrive/BigContest_data/respec_final_XGB.csv')
respec_final

,Unnamed: 0,application_id,user_id,gender,insert_time,yearly_income,income_type,employment_type,houseown_type,desired_amount,purpose,personal_rehabilitation_yn,personal_rehabilitation_complete_yn,existing_loan_cnt,existing_loan_amt,reage,career,credit_grade
0,1,954900,553686,1.0,2022-06-07 14:29:03,30000000.0,개인사업자,정규직,기타가족소유,30000000.0,대환대출,0.0,1.0,1.0,27000000.0,50.0,16.0,3.0
1,2,137274,59516,1.0,2022-06-07 21:40:22,30000000.0,프리랜서,기타,기타가족소유,10000000.0,생활비,1.0,1.0,5.0,15000000.0,20.0,2.0,5.0
2,3,1570936,167320,1.0,2022-06-07 09:40:27,62000000.0,직장가입자(4대보험O),정규직,자가,2000000.0,생활비,1.0,1.0,7.0,344000000.0,30.0,6.0,4.0
3,4,967833,33400,1.0,2022-06-07 08:55:07,36000000.0,직장가입자(4대보험O),정규직,기타가족소유,5000000.0,생활비,0.0,0.0,1.0,16000000.0,20.0,2.0,6.0
4,6,1614045,860410,1.0,2022-06-07 11:29:05,45000000.0,기타소득,기타,자가,15000000.0,대환대출,1.0,0.0,1.0,20000000.0,40.0,6.0,7.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
968748,1394211,1864587,489900,1.0,2022-03-22 14:55:32,25000000.0,프리랜서,기타,기타가족소유,5000000.0,사업자금,0.0,0.0,0.0,0.0,20.0,2.0,7.0
968749,1394212,1327066,151422,1.0,2022-03-22 01:19:24,20000000.0,기타소득,기타,자가,50000000.0,생활비,0.0,1.0,1.0,43500000.0,60.0,6.0,1.0
968750,1394213,1319606,173524,1.0,2022-03-22 07:34:32,75000000.0,직장가입자(4대보험O),정규직,자가,100000000.0,대환대출,1.0,1.0,8.0,200000000.0,40.0,14.0,5.0
968751,1394214,1482466,766546,1.0,2022-03-22 22:12:35,50000000.0,직장가입자(4대보험O),정규직,자가,10000000.0,대환대출,0.0,1.0,10.0,117000000.0,40.0,6.0,6.0
968752,1394215,816537,3864,0.0,2022-03-22 08:55:14,35000000.0,프리랜서,기타,자가,20000000.0,생활비,0.0,0.0,0.0,0.0,40.0,12.0,5.0

In [4]:
respec_final = respec_final.drop(['Unnamed: 0'], axis = 1)

In [5]:
respec_final.isnull().sum()

application_id                         0
user_id                                0
gender                                 0
insert_time                            0
yearly_income                          0
income_type                            0
employment_type                        0
houseown_type                          0
desired_amount                         0
purpose                                0
personal_rehabilitation_yn             0
personal_rehabilitation_complete_yn    0
existing_loan_cnt                      0
existing_loan_amt                      0
reage                                  0
career                                 0
credit_grade                           0
dtype: int64

In [6]:
loan_result = pd.read_csv('/content/gdrive/MyDrive/BigContest_data/loan_result.csv')
loan_result.head()

,application_id,loanapply_insert_time,bank_id,product_id,loan_limit,loan_rate,is_applied
0,1748340,2022-06-07 13:05:41,7,191,42000000.0,13.6,NaN
1,1748340,2022-06-07 13:05:41,25,169,24000000.0,17.9,NaN
2,1748340,2022-06-07 13:05:41,2,7,24000000.0,18.5,NaN
3,1748340,2022-06-07 13:05:41,4,268,29000000.0,10.8,NaN
4,1748340,2022-06-07 13:05:41,11,118,5000000.0,16.4,NaN

In [7]:
loan_result = loan_result.dropna(subset = ['loan_limit', 'loan_rate'])

In [8]:
loan_result_1 = loan_result.drop(['loanapply_insert_time', 'is_applied'],axis=1)

In [9]:
merge = pd.merge(loan_result_1,respec_final,
                  how = 'left',
                  on = ("application_id"))
merge

,application_id,bank_id,product_id,loan_limit,loan_rate,user_id,gender,insert_time,yearly_income,income_type,...,houseown_type,desired_amount,purpose,personal_rehabilitation_yn,personal_rehabilitation_complete_yn,existing_loan_cnt,existing_loan_amt,reage,career,credit_grade
0,1748340,7,191,42000000.0,13.6,430982,1.0,2022-06-07 13:05:39,24000000.0,직장가입자(4대보험O),...,자가,25000000.0,대환대출,0.0,0.0,2.0,15000000.0,20.0,1.0,7.0
1,1748340,25,169,24000000.0,17.9,430982,1.0,2022-06-07 13:05:39,24000000.0,직장가입자(4대보험O),...,자가,25000000.0,대환대출,0.0,0.0,2.0,15000000.0,20.0,1.0,7.0
2,1748340,2,7,24000000.0,18.5,430982,1.0,2022-06-07 13:05:39,24000000.0,직장가입자(4대보험O),...,자가,25000000.0,대환대출,0.0,0.0,2.0,15000000.0,20.0,1.0,7.0
3,1748340,4,268,29000000.0,10.8,430982,1.0,2022-06-07 13:05:39,24000000.0,직장가입자(4대보험O),...,자가,25000000.0,대환대출,0.0,0.0,2.0,15000000.0,20.0,1.0,7.0
4,1748340,11,118,5000000.0,16.4,430982,1.0,2022-06-07 13:05:39,24000000.0,직장가입자(4대보험O),...,자가,25000000.0,대환대출,0.0,0.0,2.0,15000000.0,20.0,1.0,7.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13519863,1428218,62,200,3000000.0,14.8,478802,1.0,2022-06-03 12:01:47,45000000.0,직장가입자(4대보험O),...,기타가족소유,50000000.0,대환대출,0.0,1.0,2.0,56000000.0,50.0,4.0,7.0
13519864,1428218,2,7,40000000.0,11.8,478802,1.0,2022-06-03 12:01:47,45000000.0,직장가입자(4대보험O),...,기타가족소유,50000000.0,대환대출,0.0,1.0,2.0,56000000.0,50.0,4.0,7.0
13519865,1428218,32,257,15000000.0,7.2,478802,1.0,2022-06-03 12:01:47,45000000.0,직장가입자(4대보험O),...,기타가족소유,50000000.0,대환대출,0.0,1.0,2.0,56000000.0,50.0,4.0,7.0
13519866,1428218,33,110,44000000.0,13.5,478802,1.0,2022-06-03 12:01:47,45000000.0,직장가입자(4대보험O),...,기타가족소유,50000000.0,대환대출,0.0,1.0,2.0,56000000.0,50.0,4.0,7.0
13519867,1428218,5,194,44000000.0,9.7,478802,1.0,2022-06-03 12:01:47,45000000.0,직장가입자(4대보험O),...,기타가족소유,50000000.0,대환대출,0.0,1.0,2.0,56000000.0,50.0,4.0,7.0

In [10]:
merge.corr()

,application_id,bank_id,product_id,loan_limit,loan_rate,user_id,gender,yearly_income,desired_amount,personal_rehabilitation_yn,personal_rehabilitation_complete_yn,existing_loan_cnt,existing_loan_amt,reage,career,credit_grade
application_id,1.000000,-0.000561,0.000173,-0.000101,0.000107,-0.001701,0.001807,0.001042,0.001394,-0.002783,0.000804,0.000697,0.001203,0.001791,0.000715,0.000612
bank_id,-0.000561,1.000000,0.138611,-0.009942,-0.139490,0.000120,0.009104,-0.001444,-0.000161,-0.000476,-0.008938,0.010679,0.016625,-0.006099,0.005927,0.007527
product_id,0.000173,0.138611,1.000000,0.002529,-0.124230,-0.000009,0.014754,-0.003722,-0.000491,0.000139,-0.003888,-0.003883,0.007443,-0.008497,-0.009345,-0.015272
loan_limit,-0.000101,-0.009942,0.002529,1.000000,-0.017229,0.000748,0.020441,0.022731,0.015317,-0.000451,0.010477,-0.033113,-0.008994,0.012495,0.028373,-0.073110
loan_rate,0.000107,-0.139490,-0.124230,-0.017229,1.000000,-0.001444,0.009321,-0.007296,-0.031584,0.000278,0.002679,0.102501,-0.014367,-0.000570,-0.035504,0.230721
user_id,-0.001701,0.000120,-0.000009,0.000748,-0.001444,1.000000,0.006132,0.007388,0.004741,-0.000820,-0.001246,-0.004098,0.001546,-0.004293,0.002327,-0.007277
gender,0.001807,0.009104,0.014754,0.020441,0.009321,0.006132,1.000000,0.029506,0.022595,-0.001328,0.070886,0.043206,0.116339,0.003441,0.075197,-0.062534
yearly_income,0.001042,-0.001444,-0.003722,0.022731,-0.007296,0.007388,0.029506,1.000000,0.111785,0.000029,-0.000904,0.003245,0.066148,0.056918,0.109575,-0.048360
desired_amount,0.001394,-0.000161,-0.000491,0.015317,-0.031584,0.004741,0.022595,0.111785,1.000000,-0.004005,0.004087,-0.038821,0.032773,0.009360,0.046638,-0.087686
personal_rehabilitation_yn,-0.002783,-0.000476,0.000139,-0.000451,0.000278,-0.000820,-0.001328,0.000029,-0.004005,1.000000,-0.001805,-0.001618,-0.002478,-0.001026,-0.002163,-0.007984
personal_rehabilitation_complete_yn,0.000804,-0.008938,-0.003888,0.010477,0.002679,-0.001246,0.070886,-0.000904,0.004087,-0.001805,1.000000,0.101720,0.140264,0.156081,0.072491,-0.253743
existing_loan_cnt,0.000697,0.010679,-0.003883,-0.033113,0.102501,-0.004098,0.043206,0.003245,-0.038821,-0.001618,0.101720,1.000000,0.410718,0.118321,0.128556,0.214939
existing_loan_amt,0.001203,0.016625,0.007443,-0.008994,-0.014367,0.001546,0.116339,0.066148,0.032773,-0.002478,0.140264,0.410718,1.000000,0.127340,0.258553,-0.088895
reage,0.001791,-0.006099,-0.008497,0.012495,-0.000570,-0.004293,0.003441,0.056918,0.009360,-0.001026,0.156081,0.118321,0.127340,1.000000,0.287300,-0.011573
career,0.000715,0.005927,-0.009345,0.028373,-0.035504,0.002327,0.075197,0.109575,0.046638,-0.002163,0.072491,0.128556,0.258553,0.287300,1.000000,-0.142534
credit_grade,0.000612,0.007527,-0.015272,-0.073110,0.230721,-0.007277,-0.062534,-0.048360,-0.087686,-0.007984,-0.253743,0.214939,-0.088895,-0.011573,-0.142534,1.000000

In [12]:
! pip install kmodes

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting kmodes
  Downloading kmodes-0.12.2-py2.py3-none-any.whl (20 kB)
Requirement already satisfied: scipy>=0.13.3 in /usr/local/lib/python3.7/dist-packages (from kmodes) (1.7.3)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from kmodes) (1.1.0)
Requirement already satisfied: numpy>=1.10.4 in /usr/local/lib/python3.7/dist-packages (from kmodes) (1.21.6)
Requirement already satisfied: scikit-learn>=0.22.0 in /usr/local/lib/python3.7/dist-packages (from kmodes) (1.0.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.22.0->kmodes) (3.1.0)
Installing collected packages: kmodes
Successfully installed kmodes-0.12.2

In [13]:
from kmodes.kprototypes import KPrototypes
import plotly.express as px

In [14]:
target = merge['product_id']
data = merge.drop(columns=['application_id','user_id','loan_rate','loan_limit','gender','yearly_income','insert_time','income_type','employment_type','houseown_type','purpose','desired_amount','personal_rehabilitation_yn','personal_rehabilitation_complete_yn',	'existing_loan_cnt','existing_loan_amt','reage','career'])

In [15]:
data

          bank_id  product_id  credit_grade
0               7         191           7.0
1              25         169           7.0
2               2           7           7.0
3               4         268           7.0
4              11         118           7.0
...           ...         ...           ...
13519863       62         200           7.0
13519864        2           7           7.0
13519865       32         257           7.0
13519866       33         110           7.0
13519867        5         194           7.0

[13519868 rows x 3 columns]

In [ ]:
cost = []
for cluster in range(3,7):
    print('{cluster}\.cluster start'.format(cluster=cluster))
    kproto = KPrototypes(n_clusters = cluster, init='Huang',n_init=10,verbose= True)
    kproto.fit(data, categorical= [0, 1])
    cost.append(kproto.cost_)

In [ ]:
kproto = KPrototypes(n_clusters = 5, init='Huang',n_jobs=-1,n_init=10,verbose=True)
kproto.fit(data, categorical=[0,1])
centroids = kproto.cluster_centroids_
labels  = kproto.labels_

In [ ]:
data['Labels'] = labels