1. 한도 조회, 신용 정보 조회, 대출 관리 서비스 이용, 여윳돈 계산기 서비스 이용, DSR 계산기 서비스 이용 중 어떤 것을 먼저 이용한 사람인가에 따른 차이점

In [1]:
# 패키지 설치
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [2]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [3]:
# 데이터 불러오기
log_data = pd.read_csv('/content/gdrive/MyDrive/BigContest_data/log_data.csv')
log_data

,user_id,event,timestamp,mp_os,mp_app_version,date_cd
0,576409,StartLoanApply,2022-03-25 11:12:09,Android,3.8.2,2022-03-25
1,576409,ViewLoanApplyIntro,2022-03-25 11:12:09,Android,3.8.2,2022-03-25
2,72878,EndLoanApply,2022-03-25 11:14:44,Android,3.8.4,2022-03-25
3,645317,OpenApp,2022-03-25 11:15:09,iOS,3.6.1,2022-03-25
4,645317,UseLoanManage,2022-03-25 11:15:11,iOS,3.6.1,2022-03-25
...,...,...,...,...,...,...
17843988,242442,StartLoanApply,2022-05-27 16:08:21,Android,3.13.0,2022-05-27
17843989,242442,EndLoanApply,2022-05-27 16:08:21,Android,3.13.0,2022-05-27
17843990,593062,OpenApp,2022-05-27 16:19:10,Android,3.13.0,2022-05-27
17843991,593062,Login,2022-05-27 16:19:15,Android,3.13.0,2022-05-27
17843992,593062,UseLoanManage,2022-05-27 16:19:19,Android,3.13.0,2022-05-27

In [4]:
log_data.event.unique()

array(['StartLoanApply', 'ViewLoanApplyIntro', 'EndLoanApply', 'OpenApp',
       'UseLoanManage', 'UsePrepayCalc', 'Login',
       'CompleteIDCertification', 'UseDSRCalc', 'SignUp', 'GetCreditInfo'],
      dtype=object)

In [10]:
log_data_new = log_data[log_data['event'] == 'ViewLoanApplyIntro']
log_data_new.append(log_data[log_data['event'] == 'UseLoanManage'])
log_data_new.append(log_data[log_data['event'] == 'UsePrepayCalc'])
log_data_new.append(log_data[log_data['event'] == 'UseDSRCalc'])
log_data_new.append(log_data[log_data['event'] == 'GetCreditInfo'])

,user_id,event,timestamp,mp_os,mp_app_version,date_cd
1,576409,ViewLoanApplyIntro,2022-03-25 11:12:09,Android,3.8.2,2022-03-25
6,640185,ViewLoanApplyIntro,2022-03-25 11:42:38,iOS,3.6.1,2022-03-25
18,814215,ViewLoanApplyIntro,2022-03-25 11:45:43,Android,3.8.4,2022-03-25
19,640185,ViewLoanApplyIntro,2022-03-25 11:45:45,iOS,3.6.1,2022-03-25
21,640185,ViewLoanApplyIntro,2022-03-25 11:46:03,iOS,3.6.1,2022-03-25
...,...,...,...,...,...,...
16823116,670303,GetCreditInfo,2022-06-20 21:35:41,android,466,2022-06-20
16823117,879311,GetCreditInfo,2022-06-20 21:35:46,android,435,2022-06-20
16823118,71130,GetCreditInfo,2022-06-20 21:35:46,iOS,3.13.0,2022-06-20
16823119,51665,GetCreditInfo,2022-06-20 21:35:52,android,451,2022-06-20
16823120,154759,GetCreditInfo,2022-06-20 21:35:55,android,416,2022-06-20

2. 각 유저 ID 당 하루에 몇 번 접속 했는지

In [61]:
grouped = log_data.groupby(['user_id', 'date_cd'])['user_id'].count()
grouped

user_id  date_cd
1        2022-05-03     2
         2022-06-16     3
7        2022-05-22     1
9        2022-05-21     3
11       2022-03-24    12
                       ..
879693   2022-06-29     1
879694   2022-03-31     6
879695   2022-05-27     4
879696   2022-03-14    11
879698   2022-05-24     3
Name: user_id, Length: 2728153, dtype: int64

In [62]:
df_grouped = pd.DataFrame(grouped)
df_grouped

                    user_id
user_id date_cd
1       2022-05-03        2
        2022-06-16        3
7       2022-05-22        1
9       2022-05-21        3
11      2022-03-24       12
...                     ...
879693  2022-06-29        1
879694  2022-03-31        6
879695  2022-05-27        4
879696  2022-03-14       11
879698  2022-05-24        3

[2728153 rows x 1 columns]

In [63]:
df_grouped.rename(columns = {'user_id' : 'user_id_cnt'}, inplace = True)
df_grouped

                    user_id_cnt
user_id date_cd
1       2022-05-03            2
        2022-06-16            3
7       2022-05-22            1
9       2022-05-21            3
11      2022-03-24           12
...                         ...
879693  2022-06-29            1
879694  2022-03-31            6
879695  2022-05-27            4
879696  2022-03-14           11
879698  2022-05-24            3

[2728153 rows x 1 columns]

In [64]:
df_grouped_new = df_grouped.reset_index('date_cd')
df_grouped_new

            date_cd  user_id_cnt
user_id
1        2022-05-03            2
1        2022-06-16            3
7        2022-05-22            1
9        2022-05-21            3
11       2022-03-24           12
...             ...          ...
879693   2022-06-29            1
879694   2022-03-31            6
879695   2022-05-27            4
879696   2022-03-14           11
879698   2022-05-24            3

[2728153 rows x 2 columns]

In [65]:
df_grouped_new = df_grouped_new.reset_index('user_id')
df_grouped_new

         user_id     date_cd  user_id_cnt
0              1  2022-05-03            2
1              1  2022-06-16            3
2              7  2022-05-22            1
3              9  2022-05-21            3
4             11  2022-03-24           12
...          ...         ...          ...
2728148   879693  2022-06-29            1
2728149   879694  2022-03-31            6
2728150   879695  2022-05-27            4
2728151   879696  2022-03-14           11
2728152   879698  2022-05-24            3

[2728153 rows x 3 columns]

In [66]:
count_date = df_grouped_new['user_id'].count()
count_date

2728153